

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/Floppy_DiskB&W.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Dean Itzhak</title>
</head>
<body>
    <div id="warraper">
        <header id="Header_Holder">
                <img id="Cloud_About" src="images/Group_1bB&W.png" alt="#">
                <h1 id="Title">Dean Itzhak | Portfolio </h1>
                <img id="Profile" src="images/Profile_2.png" alt="#">
                <img id="Floppy_Disk_Line" src="images/Floppy_Disk_Line_B&W.png" alt="#">
                <img id="Floppy_Disk" src="images/Floppy_DiskB&W.png" alt="#">
                <div id="Nav_Holder" >
                    <div id="About" >About</div>
                    <div id="Work" >Work</div>
                    <div id="Contact" >Contact</div>
                  </div>
                  
                <p id="My_belief"></p>
                <img id="Cloud_Work" src="images/Group_3B&W.png" alt="#">
                <img id="Cloud_Contact" src="images/Group_2_B&W.png" alt="#">
        </header>
        <div id="welcome_Holder">
            <p id="Welcome">
            <b>Welcome</b> all the things on the<br> 
            site were designed and programmed by me.feel free to enjoy any comments will be appricate<br>
            </p>   
        </div>
         <!--About--> 
         <div id="Education_Holder">
            <h2 id="Education">Education</h2>
            <div id="Shenkar_Item">
                <img id="Shenkar_Logo" src="images/Shenkar_Logo.svg.png" alt="#">
                <p id="Shenkar_des" style="color:white"><b>2020-Today</b> Bachelor of Science: Software Engineering,
                    3rd year |<b> Shenkar, Tel-Aviv</b> 
                </p>
            </div>
            <div id="Jhon_Item">
                <img id="Jhon_Logo" src="images/Jhon_Logo.png" alt="#">
                <p id="Jhon_des"><b>2017 </b> Diploma in Java and Application Development <br>
                  in Android field backend and frontend, developing database
                  in SQL | <b>John Bryce, Tel-Aviv</b> 
                </p>
            </div>
            <div id="NetcraftAcademy_Item">
                <img id="NetcraftAcademy_Logo" src="images/NetcraftAcademy_Logo.png" alt="#">
                <p id="NetcraftAcademy_des"><b>2016</b> Diploma in Mobile and Desktop User Experience and
                   User Interface Characterization (UX, UI) | 
                   <b>Netcraft Academy - Tel-Aviv</b>
                    </p>
            </div>
            <div id="b6_Item">
                <img id="b6_Logo" src="images/6b_Logo.jpg" alt="#">
                <p id="b6_des"><b>2016</b> Diploma in Interactive Design and Visual Communication |
                   <b>Studio 6B - Tel-Aviv</b><br>
                </p>
            </div>
        </div>
          <!--Form-->
          <div id="Form_Holder">
            <form action="/" method="post" id="Contact_Form">
                <h2 id="Your_Name">Your Name</h2>
                <input type="text" name="name" id="Name_input" required>
                <h2 id="Your_Email">Your Email</h2>
                <input type="email" name="email" id="Email_input" required>
                <h2 id="Subject">Subject</h2>
                <input type="text" name="subject" id="Subject_input" required>
                <h2 id="Message">Message</h2>
                <textarea name="messeage" id="Message_area" required></textarea>
                <input type="submit" id="subnmitBTN"   value="Submit" ></input>
                </form>
        </div>
        <!--Work-->
        <div id = "Work_Holder">
            <div id="Photography_Holder">
                <div id="Left_Holder_Potography">
                    <img id="Photography_Image_Thumb" src="images/Tumb_Nail_Gallery.png" >
                </div>
                <div id="Right_Holder_Potography">
                    <h2 id="Photography_Title">Photography
                        <p id="Photography_Desc">
                            Professional photography combined with art.<br>
                            <a id="Click_to_my_art" href="#">Click to my art</a>
                        </p>
                    </h2>
                </div>
            </div>
            <div id="Codes_Holder">
                <div id="Left_Holder_Codes">
                    <h2 id="Codes_Title">Code And Design
                        <p id="Codes_Desc">
                            Characterization of the system and make it work. <br>
                            <a id="Click_to_my_mind" href="#">Click to my mind</a>
                        </p>
                    </h2>
                </div>
                <div id="Right_Holder_Codes">
                    <img id="Codes_Image_Thumb" src="images/Tumb_Nail_Projects_2.png" >
                </div>
            </div>
            <div id="Gallery_Photos_Holder">
                <button class="BackButton"><b>Back</b></button>
                <h2 id="Work_Photography_Title">Photography</h2>
                <h3 id="First_Gallery_Title">Interior Design</h3>
                <div id="First_Gallery">
                    <div id= "Gallery_Item_First"class="Gallery_Item">
                        <img id="All_Gallery_Images_First_First"class="All_Gallery_Images"src="images/First_Gallery_First_Image_Comp.jpg" alt="" >
                    </div>
                    <div  id="Gallery_Item_Second"class="Gallery_Item">
                        <img id="All_Gallery_Images_First_Second"class="All_Gallery_Images"src="images/First_Gallery_Second_Image_Comp.jpg" alt="" >
                    </div>
                    <div id="Gallery_Item_Third"class="Gallery_Item">
                        <img id="All_Gallery_Images_First_Third"class="All_Gallery_Images"src="images/First_Gallery_Third_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Gallery_Item_Forth"class="Gallery_Item">
                        <img id="All_Gallery_Images_First_Forth"class="All_Gallery_Images"src="images/First_Gallery_Forth_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Gallery_Item_Fifth"class="Gallery_Item">
                        <img id="All_Gallery_Images_First_Fifth"class="All_Gallery_Images"src="images/First_Gallery_Fifth_Image_Comp.jpg" alt="">
                    </div>
                </div>
                <h3 id="Second_Gallery_Title">Urban Fashion</h3>
                <div id="Second_Gallery">
                    <div id= "Second_Gallery_Item_First"class="Gallery_Item">
                        <img id="All_Gallery_Images_Second_First"class="All_Gallery_Images"src="images/Second_Gallery_First_Image_Comp.jpg" alt="" >
                    </div>
                    <div id="Second_Gallery_Item_Second"class="Gallery_Item">
                        <img id="All_Gallery_Images_Second_Second"class="All_Gallery_Images"src="images/Second_Gallery_Second_Image_Comp.jpg" alt="" >
                    </div>
                    <div id="Second_Gallery_Item_Third"class="Gallery_Item">
                        <img id="All_Gallery_Images_Second_Third"class="All_Gallery_Images"src="images/Second_Gallery_Third_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Second_Gallery_Item_Forth"class="Gallery_Item">
                        <img id="All_Gallery_Images_Second_Forth"class="All_Gallery_Images"src="images/Second_Gallery_Forth_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Second_Gallery_Item_Fifth"class="Gallery_Item">
                        <img id="All_Gallery_Images_Second_Fifth"class="All_Gallery_Images"src="images/Second_Gallery_Fifth_Image_Comp.jpg" alt="">
                    </div>
                </div>
                <h3 id="Third_Gallery_Title">Art</h3>
                <div id="Third_Gallery">
                    <div id= "Third_Gallery_Item_First"class="Gallery_Item">
                        <img id="All_Gallery_Images_Third_First"class="All_Gallery_Images"src="images/Third_Gallery_First_Image_Comp.jpg" alt="" >
                    </div>
                    <div id="Third_Gallery_Item_Second"class="Gallery_Item">
                        <img id="All_Gallery_Images_Third_Second"class="All_Gallery_Images"src="images/Third_Gallery_Second_Image_Comp.jpg" alt="" >
                    </div>
                    <div id="Third_Gallery_Item_Third"class="Gallery_Item">
                        <img id="All_Gallery_Images_Third_Third"class="All_Gallery_Images"src="images/Third_Gallery_Third_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Third_Gallery_Item_Forth"class="Gallery_Item">
                        <img id="All_Gallery_Images_Third_Forth"class="All_Gallery_Images"src="images/Third_Gallery_Forth_Image_Comp.jpg" alt="">
                    </div>
                    <div id="Third_Gallery_Item_Fifth"class="Gallery_Item">
                        <img id="All_Gallery_Images_Third_Fifth"class="All_Gallery_Images"src="images/Third_Gallery_Fifth_Image_Comp.jpg" alt="">
                    </div>
                </div>
            </div>
            <!---->
            <div id="Gallery_Codes_Holder">
                <button class="BackButton"><b>Back</b></button>
                <h2 id="Work_Codes_Title">Codes And Design</h2>
                <h3 id="First_Code_Title">My Own Portfolio</h3>
                <div id="First_Code">
                    <div id="Upper_Code">
                        <img id="Main_Image" src="images/Tumb_Nail_Projects_Comp.jpg" alt="">
                        <h3 id="Codes_Main_Desc">My Own portfolio
                            <p id="First_Codes_Main_Desc_P">
                                The portfolio was<br>
                                built with the idea of<br>
                                cleanliness and very specific<br>
                                flow that helps to capture<br>
                                the way the eyes flow.
                            </p>
                            <div class="Tec_Holder">
                                <img class="Tec_Icon" src="images/html_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/css3_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/js_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/Node_js_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/mongo_db_icon_comp.png" alt="">
                            </div>
                        </h3>
                    </div>
                    <div id="Lower_Code">
                        <img id="First_Codes_Image" src="images/Tumb_Nail_About_Comp.jpg" alt="">
                        <img id="Second_Codes_Image" src="images/Tumb_Nail_Work_Comp.jpg" alt="">
                        <img id="Third_Codes_Image" src="images/Tumb_Nail_Form_Comp.jpg" alt="">
                    </div>
                </div>
                <h3 id="Second_Code_Title">IDFamily</h3>
                <div id="Second_Code">
                    <div id="Second_Upper_Code">
                        <img id="Second_Main_Image" src="images/Thumb_Nail_IDFamily_Comp.jpg" alt="">
                        <h3 id="Second_Codes_Main_Desc">IDFamily<br>
                            <p id="Second_Codes_Main_Desc_P"> 
                            is a system that <br>
                            helps the lone soldier<br>
                            finding a place to <br>
                            sleep and a place to<br>
                            celebrate the holidays.<br>
                            during his military service,<br>
                            the system assists him.<br>

                            <a href="http://se.shenkar.ac.il/students/2021-2022/web1/dev_220/">Link To App</a>
                            </p>
                            <div class="Tec_Holder">
                                <img class="Tec_Icon" src="images/html_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/css3_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/js_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/sql_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/php_icon_comp.png" alt="">
                            </div>
                        </h3>
                    </div>
                    <div id="Second_Lower_Code">
                        <img id="Second_First_Codes_Image" src="images/Thumb_Nail_IDFamily_Home_Comp.png" alt="">
                        <img id="Second_Second_Codes_Image" src="images/Thumb_Nail_IDFamily_Commander_Comp.png" alt="">
                        <img id="Second_Third_Codes_Image" src="images/Thumb_Nail_IDFamily_Soldier_Comp.png" alt="">
                    </div>
                </div>
                <h3 id="Third_Code_Title">The appearance of colors</h3>
                <div id="Third_Code">
                    <div id="Third_Upper_Code">
                        <img id="Third_Main_Image" src="images/The_appearance_of_colors_project_Comp.jpg" alt="">
                        <h3 id="Third_Codes_Main_Desc">The appearance of colors project<br>
                            <p id="Third_Codes_Main_Desc_P"> 
                            Basically, the idea <br>
                            I came up with<br>
                            to scan the image <br>
                            from width as<br>
                            a row up to the <br>
                            height of the picture,<br>
                            pixel by pixel.then <br>
                            check occurrences <br>
                            of the colors.flutter  <br>
                            up the most The <br>
                            color with the<br>
                            maximum appearance
                            </p>
                            <div class="Tec_Holder">
                                <img class="Tec_Icon" src="images/html_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/css3_icon_comp.png" alt="">
                                <img class="Tec_Icon" src="images/php_icon_comp.png" alt="">
                            </div>
                        </h3>
                    </div>
                    <div id="Third_Lower_Code">
                        <img id="Third_First_Codes_Image" src="images/The_appearance_of_colors_project_PHP_Comp.jpg" alt="">
                        <img id="Third_Second_Codes_Image" src="images/The_appearance_of_colors_project_Sellect_Comp.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <element id="element"></element> 
        </footer>
    </div>
    
<script src="js/scripts.js"></script>
</body>
</html>

